* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #0f0c29;
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}